html {
    font-family: sans-serif;
    line-height: 160%;
}
header {
    background-color: #FF6900;
}

.flex {
    display: flex;
}

nav.flex {
    padding-block: 15px ;
    justify-content: space-between;
    align-items: center;

}


ul.menu,
ul.menu__icon {
    gap: 10px;
}

/* colore lista menu  */
.menu li a {
    color: white;
}
/* svg grandezza e colore  */
.menu__icon svg {
     width: 15px;
     fill: white;
}


/* start main */
.container-80 {
    width: 80%;
    margin: 0 auto;
}

main .flex {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-block: 50px;


}

section div {
    background-color: aqua;
    width: 300px;
    height: 350px;
}

/* start footer */
footer {
    background-color: #1A1A1A;
    height: 100px;
}

footer .flex {
    justify-content: space-between;
    /* margin-block: 20px; */
}

footer .container-80 > div {
    margin-block: 20px;

}